* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kopodaps', Arial, serif;

}

body {
    background-repeat: no-repeat;
    display: inline;
    background: white;
    text-transform: uppercase;
}

.body-login {
    background: linear-gradient(to left, #783602, #7e3b07, #85400d, #8b4513, #914a18, #98501e, #9e5523)
}

.body-items {
    min-height: 80vh;
    min-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #b9550d;
    color: white;
    max-width: 700px;
    min-width: 30vh;
    padding: 1.5rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    border: 2px solid black;
}



.cabecalho {
    background-color: #b9550d;
    margin: 0;
    text-align: center;
}

.cabecalho img {
    width: 50px;
    height: 50px;
    padding: 4px;
    user-select: none;
}

.cabecalho-app {
    background-color: #b9550d;
    margin: 0;
    text-align: left;
    user-select: none;
}

.img-system{
    text-align: center;
    margin-top: -50px;
}

.img-cad{
    text-align: center;
}

.txt-login {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1.2rem;
    text-align: center;
    letter-spacing: 0.8px;
    user-select: none;
}

form {
    display: flex;
    flex-direction: column;
}

.campo {
    position: relative;
}

form .campo:first-child {
    margin-bottom: 0.5rem;
}

.campo input {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.7px;
}

.campo input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

form input[type="submit"] {
    outline: none;
    padding: 0.4rem;
    background: #b9550d;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: 300px;
    transition: all 0.7s ease;
    text-transform: uppercase;
    border-right: 3px solid black;
}


form input[type="submit"]:hover {
    background-color: white;
    color: black;
}

form input[type="button"] {
    outline: none;
    border: 0px;
    border-right: 3px solid black;
    padding: 0.4rem;
    background: #b9550d;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: 300px;
    transition: all 0.7s ease;
    text-transform: uppercase;
}

form input[type="button"]:hover {
    background-color: white;
    color: black;
}

.campo-cad {
    display: flex;
    width: 100%;
    border: 3px solid black;
    border-radius: 3px;
}

.campo-cad input {
    outline: none;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.campo-cad select {
    outline: 0;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    text-align-last: center;
    text-align: center;
    letter-spacing: 0.7px;
    align-items: center;
}

.campo-cad input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.footer {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.2px;
    user-select: none;
    margin-bottom: 0px;
    padding: 0;
}

/*Limpar placeholder txt*/
input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    /* Firefox 18- */
    color: transparent;
}

input:focus::-moz-placeholder {
    /* Firefox 19+ */
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

.body-app{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    background: linear-gradient(to left, #783602, #7e3b07, #85400d, #8b4513, #914a18, #98501e, #9e5523)
}

ul{
    list-style: none;
    margin-top: 50%;
}

a{
    text-decoration: none;
    color: white;
}

.text-li{
    font-size: 20
}

nav{
    display: flex;
    background: #6d3600;
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    transition: .4s ease-out;
    font-family:'Kopodaps', Helvetica, sans-serif;
}

nav .brand{
    width: 150px;
    height: 150px;
    user-select: none;
    flex-direction: column; 

}

nav #close-btn{
    position: absolute;
    right: .5rem;
    top: .5rem;
    padding: .5rem;
    width: 2rem;
    height: 2rem;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

nav #close-btn:hover{
    color: black;
    background: white;
    transition: .5s ease;
}

nav ul{
    position: absolute;
    top: 6rem;
}

nav ul li{
    padding: 1.3rem 1.5rem;
    color: white;
    width: 250px;
}

nav ul li:hover{
    color: black;
    background: #D2691E;
    cursor: pointer;    
    transition: .8s ease;
}

nav ul li .nav-link{
    font-size: 1.2rem;
}

nav ul li a{
    position: absolute;
    font-size: 1.2rem;
    margin-left: 12px;
}

#open-btn{
    width: 2rem;
    height: 2rem;
    padding: .5rem;
    border-radius: 10px;
    margin: .5rem;
    cursor: pointer;
    background: #6d3600;
    color: white;
}

#open-btn:hover{
    color: black;
    background: white;
    transition: .5s ease;
}

input#close{
    display: none;
}

input#close:checked ~ nav{
    left: 0;
}

.user-data{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 23px;
    color: white;
    margin-left: 20px;
}

.text-menu{
    font-size: 25px;
    letter-spacing: .6px;
}

div#nome{
    margin-top: 5px;
}

.header{
    display: flex;
    flex-direction: row;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background: white;
  }
  table.center {
    margin-left: auto;
    margin-right: auto;
  }

.row{
    display: flex;
    flex-direction: row;
}

.row-btns{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.row-inp{
    display: flex;
    flex-direction: row;
    border: 3px solid black;

}

.row-inp-cad{
    align-items: center;
    height: auto;
    width: auto;
    margin: 0;
    border: 2px solid black;
    border-radius: 2px;
}

.rowitenslog{
    padding: 20px;
}

.senha-cad{
    width: 100%;
}

.input-file{
    cursor: pointer;
}

.voltar{
    text-align: right;
    text-transform: uppercase;
    padding: 5px;
    transition: 0.8s ease;
    border: 3px solid black;
    border-radius: 4px;
}

.voltar:hover{
   background-color: white;
   color: black;
   letter-spacing: 1.1px;
   border: 3px solid black;
   border-radius: 4px;
}

/* Retirar setas input number*/
form input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Popup Cadastro */
.popup{
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content{
    min-height: 250px;
    width: 250px;
    background-color: white;
    padding: 20px;
    position: relative;
    text-align: center;
}

.imgpop{
    margin-bottom: 1rem;
    user-select: none;
}

form#frm-pop input[type="submit"] {
    outline: none;
    background: #106ffd;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: 300px;
    transition: all 0.7s ease;
    text-transform: uppercase;
}


form#frm-pop input[type="submit"]:hover {
    letter-spacing: 0.3px;
    background-color: white;
    color: #106ffd;
}

.close-pop{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 30px;
    padding: 3px;
    color: #106ffd;
    border: 1px solid;
    border-radius: 6px;
}

.close-pop:hover{
    cursor: pointer;
    background: #106ffd;
    color: white;
    transition: .7s ease;
    border-radius: 6px;
}

.inp-icon{
    padding: 10px 0px;
    width: 40px;
    text-align: center;
    color: white;
    background-color: #D2691E;
}

.inp-icon-pop{
    padding: 10px 0px;
    width: 40px;
    text-align: center;
    color: white;
    background-color: #106ffd;
}

input[type="text"]{
    outline: 0;
    border-left: 3px solid black;
}

input[type="password"]{
    outline: 0;
    border-left: 3px solid black;
}

input[type="submit"]{
    outline: 0;
}

input[type="number"]{
    outline: 0;
}

select{
    outline: 0;
}

input[type="button"]{
    outline: 0;
    border-right: 3px solid black;
}

.colorinp-login{
    background-color: #D2691E;
}

.colorinp-adm{
    background-color: #106ffd;
}

.inp-icon-login{
    color: black;
}

.btn-cadpad{
    margin-left: 11px;
}

.btn-cad-pop{
    border-right: 0px;
}

.border-btn-pop{
    border: 2px solid black;
}

.input-cadastro{
    outline: 0;
    border-left: 3px solid black;
}

div.voltar-a{
    margin-top: 5px;
     text-align: right;
}

.padcad{
    padding-bottom: 5px;
    padding-right: 5px;
    width: 100%;
}

.padcad-r{
    padding-right: 0px;
}


input[type="submit"]{
    border-right: 3px solid black;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: .7s ease;
}

input[type="button"]{
    border-right: 3px solid black;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: .7s ease;
}


.inp-hover:hover{
    background-color: white;
    color: black;
    letter-spacing: 1.3px;
}